<html>
  <head>
    <title>Ozone Widget Framework (OWF)</title>
    <META http-equiv="refresh" content="5;URL=https://<%= ENV['OPENSHIFT_GEAR_DNS'] %>/owf">
  </head>
  <body bgcolor="#ffffff">
    <center>If you are not redirected automatically in 5 seconds, click <a href="https://<%= ENV['OPENSHIFT_GEAR_DNS'] %>/owf"> here</a>
    </center>
  </body>
</html>

